@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.body {
  margin-top: 100px;
  padding: 0 0;
  text-align: center;
}

footer{
  text-align: center;
  margin-top: 3em;
}

.share{
  margin-top: 0.3em;
}


.canvasWrapper {
  font-family: 'Kosugi', sans-serif;
  width: 1280px;
  margin: 0 auto;
}

canvas{
  width: 600px;
}

#generatebtn{

  height: 4rem;
}

@media (max-width:1280px){
  .canvasWrapper {
    width: 60%;
  }
  canvas{
    width: 100%;
  }
}

@media (max-width:500px){
  .canvasWrapper {
    width: 80%;
  }
}